<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container</title>
</head>
<body>
    <div id="container">
        <p>HTML is <span style="color:green">easy</span> </p>
        <div id="intro">
            <p>Intro section here</p>
        </div>
        <div id="content">
            <div id="main">
                <p>Main part here</p>
            </div>
            <div id="links">
                <p>Links here</p>
            </div>
        </div>
    </div>
</body>
</html>
