<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Boriss Harin">
        <meta name="description" content="My first html page">
        <meta name="keywords" content="SDA">
        <title>First Page</title>
        <link rel="stylesheet" type="text/css" href="../content/styles/pseudo.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <h2>About me</h2>
        <p onmouseover="secondAlert()">I'm a Java <b>Developer!</b></p>
        <i>Some code example</i>
        <h5>Hello, World!</h5>
        <img src="../content/images/image01.jpeg" alt="Some description of the picture" style="height: 300px">
        <img src="https://media.istockphoto.com/id/1131109259/photo/java-programming-concept-virtual-machine-on-server-room-background.jpg?s=1024x1024&w=is&k=20&c=R4F-LFTEzyqEvSpRpv2olnu8LvCDbghihkdqOWkKQ48="
        alt="Some description of the picture" style="height:300px">
        <br>
        <div id="links">
            <a href="contact.html" target="_blank">Contact</a>
            <a href="#" onclick="showMeAlert()">Other Contact</a>
        </div>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>City</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Boriss</td>
            <td>Harin</td>
            <td>18</td>
            <td>Tallinn</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Smith</td>
            <td>22</td>
            <td rowspan="2">LA</td>
        </tr>
        <tr>
            <td>Jain</td>
            <td>Smith</td>
            <td>20</td>
        </tr>
        </tbody>
    </table>
    <script src="../content/js/script.js"></script>
    </body>
</html>
